#hulahula {color:black; font-size:125px;
}
#nene {font-size:35px; color:black; border-style:dotted; width:175px}
.th, td {
    border-bottom: 1px solid #ddd;
}
.right {
    height: 300px;
    position: relative; 
}
.list {font-size:35px;}
h3 {font-size:40px;
}
h4 {font-size:20px;
}
.dorty-images {	height: auto;
				wight:auto;
				max-wight:300px;
				max-height:300px; }
.logo-images {	height: auto;
				wight:auto;
				max-wight:200px; 
				max-height:200px; }

			
#pozadimoje {background-color:#ffffe6;
			font-family:bodoni MT;}

#patickamoje {background-color:#1a1a1a;
			color:white; 
			font-size:1px;}
			
}

.logo2-images {	height: auto;
				wight:auto;
				max-wight:150px; 
				max-height:150px; }
a:link {color:white;}
a:visited {
    color:black;
}
a:hover {
    color:black;
}
#kontakt {font-size:20px;}


#zvetsitpismo {font-size:30px;}

#ahoj{font-size:20px;
}

  
.baf 		{	position: absolute;
			  right: 0;
			  bottom: 0;
			  left: 0;
			  padding: 1rem;
			  background-color: #efefef;
			  text-align: center;}

