#hulahula {color:black; font-size:125px;
}
#nene {font-size:35px; color:black; border-style:dotted; width:175px}
.th, td {
    border-bottom: 1px solid #ddd;
}
.right {
    height: 300px;
    position: relative; 
}
.list {font-size:25px;}
h3 {font-size:40px;
}
h4 {font-size:20px;
}
.dorty-images {	height: auto;
		wight:auto;
		max-wight:300px;
		max-height:300px; }